a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#img_52fa8e25:hover { filter: brightness( 80%);  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_10fa1e7e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
#container_10fa1e7e_padding { margin: 20px; display: block;  }
.textstyle2 { text-align:left; }
#img_52fa8e25 { position:absolute; left:4%; top:1%; width:92%; background:none; height:auto;  }
#container_6a66f0ab { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF; background-image: url(rc_images/drs_high_resolution_logo_transparent__3_.png); background-position:center center; background-size:cover;  }
#container_73277115 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:94px; background:none;  }
#container_73277115_padding { margin: 10px; display: block;  }
#container_19edd504 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:108px; background:none;  }
#container_19edd504_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:18pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; font-weight:bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.392157);  }
.textstyle4 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; font-weight:bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.392157);  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_c131272 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:405px; background:none;  }
#container_c131272_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:44pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; font-weight:bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.392157);  }
.textstyle7 { font-size:22pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; font-weight:bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.392157);  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#464646;  }
#button_b61e83 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#B89D76;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F;  }
#button_5806d7d8 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#B89D76;  }
#container_36889197 { vertical-align: top; position:relative; display: inline-block; width:63%; min-height:158px; max-width:500px; background:none;  }
#container_36889197_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#303030; line-height: 1.5;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#464646; line-height: 1.5;  }
#container_fb7d91b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#696969;  }
#container_fb7d91b_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:44pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#CECECE; font-weight:bold;  }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#CECECE;  }
#container_69563e92 { vertical-align: top; position:relative; display: inline-block; width:63%; min-height:158px; max-width:500px; background:none;  }
#container_69563e92_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#CECECE; line-height: 1.5;  }
#container_292d7603 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_292d7603_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:44pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#464646; font-weight:bold;  }
#container_6bb1ef27 { vertical-align: top; position:relative; display: inline-block; width:63%; min-height:158px; max-width:500px; background:none;  }
#container_6bb1ef27_padding { margin: 10px; display: block;  }
#container_2a6791f0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#696969;  }
#container_2a6791f0_padding { margin: 10px; display: block;  }
#container_627a1e39 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_627a1e39_padding { margin: 10px; display: block;  }
#container_3b82ee4e { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_3b82ee4e_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#3F3F3F;  }
#container_65d20358 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_65d20358_padding { margin: 10px; display: block;  }
#container_18f46d01 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_18f46d01_padding { margin: 10px; display: block;  }
.ulstyle1 { margin:0; font-size: 12pt; color:#3F3F3F;  }
@media only screen and (max-width: 8000px)
{
		#img_52fa8e25 { display:none;  }
}
@media only screen and (max-width: 650px)
{
		#container_3b82ee4e { width:100%;  }
		#container_65d20358 { width:100%;  }
		#container_18f46d01 { width:100%;  }
}
@media only screen and (max-width: 500px)
{
		#img_52fa8e25 { display:inline-block;  }
		#container_6a66f0ab { display:none;  }
}
@media only screen and (max-width: 360px)
{
		#container_19edd504 { width:100%;  }
}
