 .u-section-1 {
  background-image: url("images/80smallogochanged.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 793px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 50% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }
}