a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_f7f118f { box-sizing: border-box; border-radius: 9px; position:absolute; left:20%; top:20%; width:150px; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_f7f118f:hover { background-color:#DE0000; background: linear-gradient(to bottom,#DE0000, #630000 50%, #4D0000 50%, #370000); border-color:#000000;  }
#button_f7f118f:hover span { color:#FFFFFF; }
#button_62709428 { box-sizing: border-box; border-radius: 9px; position:absolute; left:15%; top:30%; width:150px; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_62709428:hover { background-color:#DE0000; background: linear-gradient(to bottom,#DE0000, #630000 50%, #4D0000 50%, #370000); border-color:#000000;  }
#button_62709428:hover span { color:#FFFFFF; }
#button_28787caa { box-sizing: border-box; border-radius: 9px; position:absolute; left:15%; top:40%; width:150px; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_28787caa:hover { background-color:#DE0000; background: linear-gradient(to bottom,#DE0000, #630000 50%, #4D0000 50%, #370000); border-color:#000000;  }
#button_28787caa:hover span { color:#FFFFFF; }
#button_2bc926a0 { box-sizing: border-box; border-radius: 9px; position:absolute; left:15%; top:50%; width:150px; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_2bc926a0:hover { background-color:#DE0000; background: linear-gradient(to bottom,#DE0000, #630000 50%, #4D0000 50%, #370000); border-color:#000000;  }
#button_2bc926a0:hover span { color:#FFFFFF; }
#button_6e9e2c54 { box-sizing: border-box; border-radius: 9px; position:absolute; left:15%; top:60%; width:150px; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_6e9e2c54:hover { background-color:#DE0000; background: linear-gradient(to bottom,#DE0000, #630000 50%, #4D0000 50%, #370000); border-color:#000000;  }
#button_6e9e2c54:hover span { color:#FFFFFF; }
#button_7d7f79dd { box-sizing: border-box; border-radius: 9px; position:absolute; left:15%; top:70%; width:150px; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_7d7f79dd:hover { background-color:#DE0000; background: linear-gradient(to bottom,#DE0000, #630000 50%, #4D0000 50%, #370000); border-color:#000000;  }
#button_7d7f79dd:hover span { color:#FFFFFF; }
#button_5af44f54 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:80px; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_5af44f54:hover { background-color:#DE0000; background: linear-gradient(to bottom,#DE0000, #630000 50%, #4D0000 50%, #370000); border-color:#000000;  }
#button_5af44f54:hover span { color:#FFFFFF; }
#button_1854cff9 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:80px; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_1854cff9:hover { background-color:#DE0000; background: linear-gradient(to bottom,#DE0000, #630000 50%, #4D0000 50%, #370000); border-color:#000000;  }
#button_1854cff9:hover span { color:#FFFFFF; }
#button_3c89489e { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:80px; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_3c89489e:hover { background-color:#DE0000; background: linear-gradient(to bottom,#DE0000, #630000 50%, #4D0000 50%, #370000); border-color:#000000;  }
#button_3c89489e:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_144c238e { position:absolute; left:0%; top:0%; width:100%; min-height:700px; background-color:#FFFFFF; background-image: url(images/transplogodragon2.png); background-position:center center; background-size:cover;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3d66e75c { vertical-align: top; position:relative; display: inline-block; width:58%; min-height:106px; background:none;  }
#container_3d66e75c_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:justify; }
.textstyle5 { font-size:18pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#00FF00; font-weight:bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.392157);  }
.textstyle6 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#00FF00; font-weight:bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.392157);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_7fa5239b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:650px; background:none;  }
#container_7fa5239b_padding { margin: 10px; display: block;  }
#img_322e3c6f { position:absolute; left:0%; top:15%; width:100%; background:none; height:auto;  }
#text_5d9ab79c { vertical-align: bottom; position:relative; display: inline-block; width:439px; height:66px; background:none;  }
.textstyle8 { font-size:18pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FC1919; font-weight:bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.392157);  }
.textstyle9 { font-size:18pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; font-weight:bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.392157);  }
.textstyle10 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; font-weight:bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.392157);  }
#container_2145fd1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_2145fd1_padding { margin: 10px; display: block;  }
#container_e90d421 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_e90d421_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_431272da { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_431272da_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:8pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_73bda0f4 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_73bda0f4_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 2500px)
{
		#container_7fa5239b { display:none;  }
}
@media only screen and (max-width: 450px)
{
		#container_144c238e { display:none;  }
		#container_7fa5239b { display:inline-block;  }
}
@media only screen and (max-width: 360px)
{
		#container_3d66e75c { width:100%;  }
}
@media only screen and (max-width: 300px)
{
		#container_e90d421 { width:100%;  }
		#container_431272da { width:100%;  }
		#container_73bda0f4 { width:100%;  }
}
